.Brandname_header {
  color: #e92569;
}

body {
  color: $gray-100;
}

.Article_header {
  color: #e92569;
}

.Frontpage_article {
  padding: 15px;
  text-align: left;
}

#uncontrolled-tab-example-tabpane-home {
  display: inline-flex;
}
