.Brandname_header {
  color: $colour-primary;
  font-style: italic;
  font-weight: bold;
}

html {
  color: $gray-500;
}

.Article_header {
  color: $colour-primary;
}

.Frontpage_article {
  padding: 15px;
  text-align: left;
}

#uncontrolled-tab-example-tabpane-home {
  display: inline-flex;
}

#root {
  background-color: #c7c7c7;
}
.tab-content {
  background: white;
  padding: 3em;
  min-height: 150px;
  border-radius: $border-radius;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  margin-top: -18px;
}

#uncontrolled-tab-example-tab-contact,
#uncontrolled-tab-example-tab-profile {
  color: $colour-primary;
}

#root > div.container-fluid > div > div.carousel-indicators > button.active {
  background-color: #e92569;
  height: 20px;
}

#root > div.container-fluid > div > div.carousel-indicators > button {
  background-color: #ffffff;
  height: 20px;
}

.Searchfield-btn {
  margin-left: -5px;
  border-radius: 0px;
}

#root > nav > div > div > form > button {
  background-color: $colour-primary;
  color: $colour-input;
}

.nav_links {
  color: $nav-colors;
  padding: 5px;
  text-decoration: none;
}

a:active {
  background-color: $colour-input;
}
#root > nav {
  background-color: #efefef;
}

.main-footer {
  margin-top: 70px;
  padding: 10px;

  background-color: $colour-input;
}

.Tab_container {
  margin-bottom: 150px;
}

#uncontrolled-tab-example-tabpane-home > div.Containertabs_content.col > div > p > svg.bi.bi-facebook,
#uncontrolled-tab-example-tabpane-home > div.Containertabs_content.col > div > p > svg.bi.bi-twitter {
  margin-left: 15px;
}

.Container_icons {
  display: flex;
}

@media only screen and (max-width: 800px) {
  .tab-content div,
  .Tabs_Container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .Containertabs_content {
    padding: 15px;
    margin: 0px;
  }
  #uncontrolled-tab-example-tabpane-home > div.Containertabs_content.col > div > p {
    text-align: center;
  }
}
