.News_header {
  color: $colour-primary;
}
.btn-primary {
  color: $colour-input;
  width: 100%;
}

.Mainbtn_scroll {
  background-color: $colour-primary;
  color: white;
}

.btn-secondary {
  background-color: $colour-input;
  color: $colour-primary;
  border-color: $colour-primary;
}
